body {
  background-color: #747d51e7;
}

@font-face {
  font-family: "Brotheric";
  src: url("bilder/fonts/Brotheric Ink Bleed Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "witch-hat";
  src: url("bilder/fonts/Witch Hat.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ueberschrift {
  font-family: "Brotheric", sans-serif;
  font-size: 50px;
  text-align: center;
}
.unter-ueberschrift {
  font-family: "Brotheric", sans-serif;
  font-size: 25px;
  text-align: center;
}

.huete {
  font-family: "witch-hat", sans-serif;
  color: #090a09;
}

.countainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.spalte1 {
  background-image: url(bilder/sternenhimmel.gif);
  overflow-y: auto;
  overflow-x: hidden;
}

.spalte3 {
  background-image: url(bilder/sternenhimmel.gif);
  overflow-y: auto;
  overflow-x: hidden;
}

.spalte2 {
  background: radial-gradient(circle, #eee8d8 0%, #d6c9ae 100%);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-blend-mode: multiply;
  color: t #0b5369;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  height: 100%;
}

@keyframes vonRechtsNachLinks {
  from {
    transform: translateX(0vw);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 1;
  }
}

.fliegende-Hexe {
  text-align: right;
  animation-name: vonRechtsNachLinks;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.einleitung {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
}

.sternenhimmel {
  scale: 1;
  transform: rotate(90deg);
  transform-origin: center;
}

.kessel1 {
  scale: 1.5;
  place-self: right;
}

.disclaimer {
  font-style: italic;
}

.rezensionen {
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
}

.rezension1 {
  scale: 1;
  justify-self: center;
}
.rezension2 {
  scale: 1;
  justify-self: center;
}

.name-rez {
  font-style: italic;
}

.jetzt-sabbern-button {
  text-align: right;
  font-family: "Brotheric", sans-serif;
  font-size: 25px;
  background-color: #ea85df;
  margin-top: 20px;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.jetzt-sabbern-button:hover {
  color: rgb(246, 248, 246);
  background-color: #6dd183;
}

.anmeldung {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  text-align: center;

  background: radial-gradient(circle, #eee8d8 0%, #d6c9ae 100%);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-blend-mode: multiply;
  color: t #0b5369;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  height: 100%;
}

